:root {
    --transitionTime: 0.3s;
    --colorBg: #333335;
    --colorFg: #d1d1d1;
    --colorFgFaded: #e3e3e363;
    --colorFgFadedMore: #9d9d9d66;
    --colorHighlightBg: #be4318;
    --colorHighlightBgFaded: #be6242;
    --colorBgLight: #f9f9f9;
    --colorFgLight: #4c4f59;
    --colorFgLightFaded: #4c4f59;
    --colorFgLightFadedMore: #a0a3ab;
}
* {
    margin: 0;
    padding: 0;
}
a,.container,.card-overlay,.palettePopup,label {transition-duration: var(--transitionTime);}
body {
    font-family: font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    color: var(--colorFg);
    background: var(--colorBg);
}
h1 {margin-left: 3%;}
blockquote {color: var(--colorFgFadedMore);}
blockquote a {color: var(--colorFgFaded);}
blockquote a:hover {color: var(--colorFgFadedMore);}
a {
    text-decoration: none;
    color: var(--colorHighlightBg);
}
a:hover {color: var(--colorHighlightBgFaded);}
p {margin-left: 6%;}
.container {
    width: 100vw;
    height: 100vh;
    color: var(--colorFg);
    background: var(--colorBg);
}
.cards {margin: 1% 3% 0 5.6%}
.cards#light {display: none;}
.card {
    position: relative;
    display: inline;
    margin-right: 3%;
    margin-left: 3%;
}
.card img {
    display: inline;;
    height: 300px;
    margin-top: 3%;
    box-shadow: 0 1px 4px black;
}
.card-overlay {
    position: absolute; 
    top: -305px;
    left: 0;
    height: 0;
    width: 367px;
    padding-top: 0;
    text-align: center;
    background: #000000bd;
    opacity: 1;
}
.card:hover .card-overlay {
    height: 200px;
    padding-top: 130px;
    opacity: 1;
    box-shadow: 0 1px 10px black;
}
.palette {margin: 10px 6%;}
.palette#light {display: none;}
.color {
    position: relative;
    display: inline;
    width: 33px;
}
.color img {box-shadow: 0 0 3px black;}
.palettePopup {
    position: absolute;
    bottom: -40px;
    left: 0;
    color: var(--colorHighlightBg);
    background: #000000bd;
    opacity: 0;
    padding: 0 0;
}
.color:hover .palettePopup {
    opacity: 1;
    padding: 5px 25px;
}
.bottom {
    text-align: center;
    /* width: 100vh; */
    margin-top: 1%;
}
.bottom li {display: inline;}
.bottom,.bottom a {color: var(--colorFgFadedMore);}
.bottom a:hover {color: var(--colorFgFaded);}
/* theme switcher */
label {
    height: 0;
    position: absolute;
    top: 10px;
    left: 19vw;
    color: var(--colorFgFaded);
}
label:hover {
    color: var(--colorFgFadedMore);
    cursor: pointer;
}
label:after {content: 'Current Theme: Isabella Dark'}
input#themer {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
/* light theme */
input#themer:checked + label {color: var(--colorFgLightFadedMore);}
input#themer:checked + label:after {content: 'Current Theme: Isabella Light'}
input#themer:checked + label:hover {color: var(--colorFgLightFaded);}
input#themer:checked ~ .container {
    color: var(--colorFgLight);
    background: var(--colorBgLight);
}
input#themer:checked ~ .container blockquote,
input#themer:checked ~ .container blockquote a {
    color: var(--colorFgLightFadedMore);
}
input#themer:checked ~ .container blockquote a:hover {color: var(--colorFgLightFaded);}
input#themer:checked ~ .container .cards#dark,
input#themer:checked ~ .container .palette#dark {
    display: none;
}
input#themer:checked ~ .container .cards#light,
input#themer:checked ~ .container .palette#light {
    display: block;
}
input#themer:checked ~ .container .bottom,
input#themer:checked ~ .container .bottom a {
    color: var(--colorFgLightFadedMore);
}
input#themer:checked ~ .container .bottom a:hover {color: var(--colorFgLightFaded);}
