:root {
    --transitionTime: 0.2s;
    --colorBg: #333335;
    --colorFg: #d1d1d1;
    --colorHighlightBg: #be4318;
    --colorHighlightBgFaded: #be6242;
}
a,.card img,.card-overlay {transition-duration: var(--transitionTime);}
body {
    font-family: font-family: 'Ubuntu', sans-serif;
    font-size: 20pt;
    padding-top: 1%;
    padding-right: 3%;
    padding-left: 3%;
    color: var(--colorFg);
    background: var(--colorBg);
}
a {
    text-decoration: none;
    color: var(--colorHighlightBg);
}
a:hover {color: var(--colorHighlightBgFaded);}
p {margin-left: 3%;}
.card {
    position: relative;
    float: left;
    margin: 1%;
}
.card img {
    height: 300px;
    box-shadow: 0 1px 4px black;
}
.card:hover img {box-shadow: 0 -1px 10px black;}
.card-overlay {
    position: absolute; 
    top: 0;
    height: 0;
    width: 367px;
    padding-top: 0;
    text-align: center;
    background: #000000cc;
    opacity: 0;
}
.card:hover .card-overlay {
    height: 170px;
    padding-top: 130px;
    opacity: 1;
}
