/* https://tiamarth.github.io/Isabella/ */
body {
    /* universal */
    --colorBlack: black;
    --colorWhite: white;
    --colorHl: #be4318;
    --colorHlFaded: #b18879;
    /* dark */
    --colorBgDark: #333335;
    --colorBgDarkDarker: #232325;
    --colorFgDark: #d1d1d1;
    --colorFgDarkBolded: white;
    --colorFgDarkFaded: #87878c;
    --colorAcDark: #101013;
    /* light */
    --colorBgLight: #f9f9f9;
    --colorBgLightDarker: #e8e8e8;
    --colorFgLight: #4c4f59;
    --colorFgLightBolded: black;
    --colorFgLightFaded: #a9a9b3;
    --colorAcLight: #cccccc;
}
/* global compacter */
.containerCompact-3V0ioj {padding: 2px 0;}
.message-1PNnaP {margin-bottom: 0;}
.content-3dzVd8 {padding-right: 2%;}
.containerCompact-3bB5aN {padding-left: 3%;}
.buttonContainer-KtQ8wc {display: none;}
.timestampCompact-MHgFLv:before {content: '[';}
.timestampCompact-MHgFLv:after {content: ']';}
.isCompact-1hsne1 {
    margin-left: 2ch;
    text-indent: -3ch;
}
.dividerEnabled-2TTlcf {display: none;}
.messageEditorCompact-2PSR3v {
    margin-right: 1%;
    margin-left: 1%;
}
.messageEditorCompact-2PSR3v .inner-zqa7da {
    height: 990px !important;
    max-height: 990px !important;
}
.messageEditorCompact-2PSR3v textarea {
    height: 965px !important;
    max-height: 965px !important;
}
/* global colors */
.theme-dark .wrapper-1Rf91z,.theme-light .wrapper-1Rf91z {background-color: var(--colorAcDark);}
.theme-light .username-_4ZSMR,
.theme-dark .username-_4ZSMR {
    color: var(--colorHl);
}
.markup-2BOw-j a {color: var(--colorHl) !important;}
/* light theme */
.theme-light .content-yTz4x3 {background-color: var(--colorBgLight);}
.theme-light .markup-2BOw-j {color: var(--colorFgLight);}
.theme-light .timestampCompact-MHgFLv {color: var(--colorFgLight) !important;}
/* dark theme */
.theme-dark .content-yTz4x3,
.theme-dark .messagesWrapper-3lZDfY {
    background-color: var(--colorBgDark);
}
.theme-dark .timestampCompact-MHgFLv {color: var(--colorFgDark) !important;}
